* {
  font-family: Pixelify Sans;
  /*text-shadow: 2px 2px rgba(0, 0, 0, 0.5);*/
  margin: 0 0;
  padding: 0 0;
}
body {
  text-align: center;
  font-family: Pixelify Sans;
  background-image: url("../images/Background.png");
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgLogo {
  padding-top: 50px;
  height: 200px;
}

.button-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.button-box > button:hover {
  background-color: #494949 !important;
  color: white !important;
  border-color: #494949 !important;
  transition: all 0.3s ease 0s !important;
  height: 80px !important;
  box-shadow: 0 0 5px #ffee10 !important;
  text-shadow: 0 0 5px #ffee10 !important;
}

#play-button {
  width: 300px;
  height: 60px;
  margin-top: 50px;
  background-color: green;
  color: #f6b93b;
  border: 4px solid #f6b93b;
  border-radius: 50px;
  padding: 0;
  padding-bottom: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 40px;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

#instructions-button {
  width: 300px;
  height: 60px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: green;
  padding: 0;
  padding-bottom: 10px;
  color: #f6b93b;
  border: 4px solid #f6b93b;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 40px;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

#credits-button {
  width: 300px;
  height: 60px;
  margin-top: 20px;
  border-radius: 50px;
  background-color: green;
  padding: 0;
  padding-bottom: 10px;
  color: #f6b93b;
  border: 4px solid #f6b93b;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 40px;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

#start-screen {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#player-coins {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-left: 203px;
  margin-top: 72px;
  text-align: center;
  color: black;
}

#player-coins img {
  margin-right: 10px;
  height: 40px;
}

.restart-button {
  width: 200px;
  height: 60px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: green;
  padding: 0;
  color: #f6b93b;
  border: 4px solid #f6b93b;
  /*   display: inline-block; */
  transition: all 0.3s ease 0s;
  font-size: 25px;
}

#game-container {
  background-image: url("../images/pizza-border.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 880px;
  height: 880px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

#player {
  z-index: 2;
}

#game-screen {
  display: none;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  /*   width: 650px; */
  height: 620px;
  background-image: url("../images/gameScreen1.png");
}

#victory-screen {
  display: none;
}

#victory-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  margin: 100px;
  color: #43b343;
  font-size: 40px;
}

#end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  margin-top: 100px;
  color: #43b343;
  font-size: 60px;
}

#credits-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  background-image: url("../images/pizza-border.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 625px;
}

#instructions-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  background-image: url("../images/pizza-border.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 625px;
  font-size: 20px;
}

#inst-image {
  height: 70px;
  width: auto;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 100px;
  /*margin-top: 120px;*/
}

#instructions-screen p {
  font-size: 20px;
  width: 600px;
  margin: 5px;
}

#instructions-screen h3 {
  margin: 5px;
}

#credits-screen ul li {
  font-size: 18px;
}

#credits-screen ul li strong {
  font-size: 23px;
}

#credits-screen ul {
  padding: 0;
  list-style-type: none;
}

#credits-screen h2 {
  margin: 50px 0 0 0;
}

.coding-credits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 150px 20px 150px;
}

.coding-credits ul {
  margin: 0px 10px;
}

.remaining-credits {
  margin-top: -10px;
}

.remaining-credits ul {
  margin: 20px 0px;
}

#credits-screen .restart-button {
  margin-top: 20px;
}

#link-github {
  font-size: 20px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.github-img {
  height: 20px;
  width: auto;
}

#health-counter {
  margin: 0 10px 0 0;
  text-align: center;
}

#instructions-screen ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#instructions-screen ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  align-items: center;
  width: 500px;
}

.instructions-motivation {
  margin-top: 40px;
}

#instructions-screen ul li img {
  padding-bottom: 5px;
}

#obstacles {
  z-index: 1;
}
